<div>
  <img src='/lab-ironbeers/public/images/beer.png' alt='image beer' />

  <ul>
    <li><a href='/beers'>Cheers The Beers! </a>
    </li>
    <li><a href='/random-beer'>Check a Random Beer</a></li>
  </ul>
</div>